<div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Contact List <span class="text-muted fw-normal ms-2">(834)</span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                
                <div>
                    <a href="#" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div>
                
            </div>
        </div>
    </div>

    <!-- #region Row -->
    <div class="row" id="contactContainer">

        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a class="text-muted dropdown-toggle font-size-16" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                            <i class="bx bx-dots-horizontal-rounded"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">
                                Edit
                            </a>
                            <a class="dropdown-item" href="#">
                                Remove
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Phyllis Gatlin</a></h5>
                            <span class="badge badge-soft-success mb-0">Full Stack Developer</span>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                        <p class="text-muted mb-0">
                            <i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> 
                            070 2860 5375
                        </p>
                        <p class="text-muted mb-0 mt-2">
                            <i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i>
                            PhyllisGatlin@spy.com
                        </p>
                        <p class="text-muted mb-0 mt-2">
                            <i class="mdi mdi-google-maps font-size-15 align-middle pe-2 text-primary"></i>
                            52 Ilchester MYBSTER 9WX
                        </p>
                        <p class="text-muted mb-0 mt-2">
                            <i class="mdi mdi-google-maps font-size-15 align-middle pe-2 text-primary"></i>
                            52 Ilchester MYBSTER 9WX
                        </p>
                        <p class="text-muted mb-0 mt-2">
                            <i class="mdi mdi-google-maps font-size-15 align-middle pe-2 text-primary"></i>
                            52 Ilchester MYBSTER 9WX
                        </p>
                    </div>
                    <div class="d-flex gap-2 pt-4">
                        <button type="button" class="btn btn-soft-primary btn-sm w-50"><i class="bx bx-user me-1"></i> Profile</button>
                        <button type="button" class="btn btn-primary btn-sm w-50"><i class="bx bx-message-square-dots me-1"></i> Contact</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- #endregion Row -->

    <!-- #region Pagination -->
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing 1 to 10 of 57 entries</p></div>
        </div>
        <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                    <li class="page-item disabled">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #endregion Pagination -->

@section Scripts {
    <script>
        function getFormData() {
            const formData = new FormData();
            formData.append("");
            formData.append("");
            formData.append("");
            formData.append("");
            return formData;
        }

        function loadData() {
            const user = $.parseJSON(sessionStorage.getItem("user"));
            console.log(user);
            
            // ajax start
                $.ajax({
                    url: `http://localhost:5087/api/ContactSesApi?userid=${user.c_UserId}`,
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            $('#responseMessage').text('User Register successfully!');
                        } else {
                            $('#responseMessage').addClass("alert alert-success");
                            $('#responseMessage').text(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        var dispalyerror = "";
                        dispalyerror += (xhr.responseJSON.errors.c_UserName ?
                            xhr.responseJSON.errors.c_UserName + ", " : "");

                        dispalyerror += (xhr.responseJSON.errors.c_Email ?
                            xhr.responseJSON.errors.c_Email + ", " : "");

                        dispalyerror += (xhr.responseJSON.errors.c_Password ?
                            xhr.responseJSON.errors.c_Password + ", " : "");

                        dispalyerror += (xhr.responseJSON.errors.c_ConfirmPassword ?
                            xhr.responseJSON.errors.c_ConfirmPassword + ", " : "");

                        $('#responseMessage').addClass("alert alert-danger");
                        $('#responseMessage').text('Error: ' + dispalyerror.slice(0, -2));
                    }
                });
                // ajax end
        }
        //
        $(document).ready(function() {
            loadData();
        });
    </script>
}