<div id="responseMessage"></div>


<div class="row align-items-center">
    <div class="col-md-6">
        <div class="mb-3">
            <h5 class="card-title">Contact List <span id="contactCount" class="text-muted fw-normal ms-2">(834)</span>
            </h5>
        </div>
    </div>
    <div class="col-md-6">
        <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
            <div>
                <button id="btnAddNew" class="btn btn-primary">
                    <i class="bx bx-plus me-1"></i> Add New
                </button>
            </div>

        </div>
    </div>
</div>

<!-- #region Row -->
<div class="row" id="contactContainer">
</div>
<!-- #endregion Row -->

<!-- #region Create / Edit Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="contactModalTitle">Create Contact</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form name="contactForm" id="contactForm" action="/api/ContactSesApi" method="post">
                <div class="modal-body">
                    <input type="hidden" id="contactId" name="contactId" />
                    <input type="hidden" id="userId" name="userId" />
                    
                    <div class="d-flex justify-content-center align-items-center mb-2">
                        <img id="contactImage" src="" alt="" onerror="this.src='../contact_images/placeholder.jpg'" class="avatar-md rounded-circle img-thumbnail" width="150px" height="auto"/>
                    </div>

                    <div class="form-group mb-2">
                        <label>Name</label>
                        <input type="text" id="contactName" class="form-control">
                        <span id="msg-contactName" class="fw-light fs-6 text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label>Email</label>
                        <input type="text" id="contactEmail" class="form-control">
                        <span id="msg-contactEmail" class="fw-light fs-6 text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label>Mobile</label>
                        <input type="number" id="contactMobile" class="form-control" min="1">
                        <span id="msg-contactMobile" class="fw-light fs-6 text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label>Address</label>
                        <input type="text" id="contactAddress" class="form-control">
                        <span id="msg-contactAddress" class="fw-light fs-6 text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label>Group</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="contactGroup" value="Family" id="Family">
                            <label class="form-check-label" for="Family">Family</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="contactGroup" value="Friends" id="Friends">
                            <label class="form-check-label" for="Friends">Friends</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="contactGroup" value="Work" id="Work">
                            <label class="form-check-label" for="Work">Work</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="contactGroup" value="Colleagues" id="Colleagues">
                            <label class="form-check-label" for="Colleagues">Colleagues</label>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label>Status</label>
                        <select id="contactStatus" name="status" class="form-control">
                            <option value="Favourite">Favourite</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <span id="msg-contactStatus" class="fw-light fs-6 text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label>Contact Picture</label>
                        <input class="form-control" type="file" name="ContactPicture" id="ContactPicture">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnSaveContact">Save Contact</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- #endregion Create / Edit Contact Modal -->

<!-- #region Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="false" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this contact?</p>
                <input type="hidden" id="deleteContactId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Yes, Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Delete Confirmation Modal -->


<!-- #region Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
        </div>
    </div>
</div>
<!-- #endregion Message Modal -->


<!-- #region Pagination -->
<div class="row g-0 align-items-center pb-4">
    <div class="col-sm-6">
        <div>
            <p class="mb-sm-0">Showing 1 to 10 of 57 entries</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="float-sm-end">
            <ul class="pagination mb-sm-0">
                <li class="page-item disabled">
                    <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item">
                    <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- #endregion Pagination -->

@* ============================================================================================= *@

@section Scripts {
    <script>
        let baseUrl = "http://localhost:5087/api/ContactSesApi";

        function resetModalForm() {
            $('#contactForm')[0].reset();
            $('#contactId').val('');
            $('#contactImage').prop('src', '');
            // reset validation messages
            $('#msg-contactName, #msg-contactEmail, #msg-contactMobile, #msg-contactAddress, #msg-contactGroup, #msg-contactStatus')
                .html('')
                .removeClass("text-danger text-success");
            // reset inputs
            $('#contactForm input, #contactForm select').removeClass("border border-danger border-success");
        }

        function getFormData() {
            const formData = new FormData();
            !$('#contactId').val() || formData.append("c_ContactId", $('#contactId').val());
            formData.append("c_UserId", $('#userId').val());
            formData.append("c_ContactName", $('#contactName').val());
            formData.append("c_Email", $('#contactEmail').val());
            formData.append("c_Mobile", $('#contactMobile').val());
            formData.append("c_Address", $('#contactAddress').val());
            let checkedGroups = $('input[name="contactGroup"]:checked')
            .map(function () { return $(this).val(); })
            .get()
            .join(',');
            console.log(checkedGroups);
            formData.append("c_Group", checkedGroups);
            formData.append("c_Status", $('#contactStatus').val());
            // Image
            let ContactPicture = $('#ContactPicture')[0].files[0]
            if (ContactPicture) {
                formData.append("ContactPicture", ContactPicture);
            }
            return formData;
        }

        // 🔹 Create or Update Contact
        function handleSaveContact() {
            const formData = getFormData();

            let requestType = 'POST';
            if (formData.get('c_ContactId')) {
                requestType = 'PUT';
            }

            console.log("baseUrl:",baseUrl);
            console.log("requestType:",requestType);

            $.ajax({
                url: baseUrl,
                type: requestType,
                processData: false,
                contentType: false,
                data: formData,
                success: function (response) {
                    console.log(response);
                    $('#contactModal').modal('hide');
                    $('#messageModal .modal-body p').text(response.message);
                    $('#messageModal').modal('show');
                    loadData();  // Reload the data
                },
                error: function (response) {
                    console.log(response.errors);
                    $('#messageModal .modal-body p').text(response.errors);
                    $('#messageModal').modal('show');
                }
            });
        }

        // #region Load Data
        function loadData() {
            const user = $.parseJSON(sessionStorage.getItem("user"));
            console.log("sessionStorage('user') :\n",user);

            // ajax start
            $.ajax({
                url: `${baseUrl}?userId=${user.c_UserId}`,
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log(response);

                    $('#contactContainer').html('');

                    let contactArray = response.data;
                    $('#contactCount').text(`(${contactArray.length})`);

                    if (contactArray.length == 0) {
                        $('#responseMessage').addClass("alert alert-primary");
                        $('#responseMessage').text('No contacts available.');
                    }

                    $.each(contactArray, function (index, contact) {
                        let col = `
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="dropdown float-end">
                                        <span class="text-muted dropdown-toggle font-size-16" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                        </span>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <span class="dropdown-item btn-edit" data-id="${contact.c_ContactId}">
                                                Edit
                                            </span>
                                            <span class="dropdown-item btn-delete" data-id="${contact.c_ContactId}" data-name='${contact.c_ContactName}'>
                                                Remove
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div><img src="../contact_images/${contact.c_Image}" alt="" onerror="this.src='../contact_images/placeholder.jpg'" class="avatar-md rounded-circle img-thumbnail" /></div>
                                        <div class="flex-1 ms-3">
                                            <h5 class="font-size-16 mb-1">${contact.c_ContactName}</h5>
                                            <span class="badge badge-soft-success mb-0">Full Stack Developer</span>
                                        </div>
                                    </div>
                                    <div class="mt-3 pt-1">
                                        <p class="text-muted mb-0">
                                            <i class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i> 
                                            ${contact.c_Mobile}
                                        </p>
                                        <p class="text-muted mb-0 mt-2">
                                            <i class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i>
                                            ${contact.c_Email}
                                        </p>
                                        <p class="text-muted mb-0 mt-2">
                                            <i class="mdi mdi-google-maps font-size-15 align-middle pe-2 text-primary"></i>
                                            ${contact.c_Address}
                                        </p>
                                        <p class="text-muted mb-0 mt-2">
                                            <i class="mdi mdi-account-multiple font-size-15 align-middle pe-2 text-primary"></i>
                                            ${contact.c_Group}
                                        </p>
                                        <p class="text-muted mb-0 mt-2">
                                            <i class="mdi mdi-tag font-size-15 align-middle pe-2 text-primary"></i>
                                            ${contact.c_Status}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        $('#contactContainer').append(col);
                    });
                },
                error: function (xhr, status, error) {
                    var dispalyerror = "";
                    dispalyerror += (xhr.responseJSON.errors.c_UserName ?
                        xhr.responseJSON.errors.c_UserName + ", " : "");

                    dispalyerror += (xhr.responseJSON.errors.c_Email ?
                        xhr.responseJSON.errors.c_Email + ", " : "");

                    dispalyerror += (xhr.responseJSON.errors.c_Password ?
                        xhr.responseJSON.errors.c_Password + ", " : "");

                    dispalyerror += (xhr.responseJSON.errors.c_ConfirmPassword ?
                        xhr.responseJSON.errors.c_ConfirmPassword + ", " : "");

                    $('#responseMessage').addClass("alert alert-danger");
                    $('#responseMessage').text('Error: ' + dispalyerror.slice(0, -2));
                }
            });
            // ajax end
        }
        // #endregion Load Data

        // #region Event Listeners
        $(document).ready(function () {
            loadData();

            // 🔹 Open Edit Contact Modal
            $('#contactContainer').on('click', '.btn-edit', function () {
                let contactId = $(this).data('id');
                $.get(`${baseUrl}/${contactId}`)
                    .done(function (response) {
                        if (response.success) {
                            console.info("editContact:", response.data);
                            let contact = response.data;
                            $('#contactModalTitle').text('Edit Contact');
                            $('#btnSaveContact')
                                .text('Update Task')
                                .removeClass('btn-success')
                                .addClass('btn-warning');

                            $('#contactId').val(contact.c_ContactId);
                            $('#userId').val(contact.c_UserId);
                            $('#contactImage').prop('src', `../contact_images/${contact.c_Image}`);
                            $('#contactName').val(contact.c_ContactName);
                            $('#contactEmail').val(contact.c_Email);
                            $('#contactMobile').val(contact.c_Mobile);
                            $('#contactAddress').val(contact.c_Address);
                            let groupArray = contact.c_Group.split(",");
                            @* $.each(groupArray, function (key, value) {
                                $(`input[name="contactGroup"][value="${value}"]`)[0].checked = true;
                            }); *@
                            !groupArray || $.each(groupArray, function (key, value) {
                                $(`#${value}`)[0].checked = true;
                            });
                            $('#contactStatus').val(contact.c_Status);
                            $('#contactModal').modal('show');
                        }
                    })
                    .fail(function(error) {
                        console.log("Error fetching data for contact.");
                    });
            });

            // 🔹 Open Delete Modal
            $('#contactContainer').on('click', '.btn-delete', function () {
                let id = $(this).data('id');
                $('#deleteContactId').val(id);

                $('#deleteModal').modal('show');
            });

            // 🔹 Open Contact Modal for Create
            $('#btnAddNew').click(function () {
                $('#contactModal').modal('show');
                $('#contactModalTitle').text('Create Contact');
                $('#btnSaveContact').text('Save Contact')
                    .removeClass('btn-warning')
                    .addClass('btn-success');
            });

            // 🔹 Open Delete Modal
            $('#btnSaveContact').click(function () {
                handleSaveContact();
            });

            // 🔹 Confirm Delete
            $('#confirmDeleteBtn').on('click', function () {
                let contactId = $('#deleteContactId').val();
                $.ajax({
                    url: `${baseUrl}/${contactId}`,
                    type: 'DELETE',
                    success: function (response) {
                        $('#deleteModal').modal('hide');
                        $('#messageModal .modal-body p').html(response.message);
                        $('#messageModal').modal('show');
                        loadData();
                    }
                });
            });

            $('#contactForm').submit(function(e) {
                e.preventDefault();
            });

            $('#ContactPicture').change(function() {
                const selectedFile = $(this)[0].files[0];
                if (selectedFile) {
                    const fileReader = new FileReader();
                    fileReader.readAsDataURL(selectedFile);
                    fileReader.addEventListener("load", function () {
                        $('#contactImage').attr('src', fileReader.result); // Use fileReader.result directly
                    });
                }
            });

            // 🔹 Reset Modal Form
            $('#contactModal').on('hidden.bs.modal', function () {
                resetModalForm();
            });
        });
        // #endregion Event Listeners
    </script>
}